* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}

.selected {
  background-color: rgb(226, 255, 241);
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
